<div>
    <h2 id="page-heading">
        <span>Skleps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sklep" [routerLink]="['/sklep/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Sklep
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="skleps?.length === 0">
        <span>No skleps found</span>
    </div>
    <div class="table-responsive" *ngIf="skleps?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Typ</span></th>
            <th scope="col" ><span>Godziny Otwarcia</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sklep of skleps ;trackBy: trackId">
                <td><a [routerLink]="['/sklep', sklep.id, 'view' ]">{{sklep.id}}</a></td>
                <td>{{sklep.typ}}</td>
                <td>
                    <div *ngIf="sklep.godzinyOtwarcia">
                        <a [routerLink]="['/godziny-otwarcia', sklep.godzinyOtwarcia?.id, 'view' ]" >{{sklep.godzinyOtwarcia?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/sklep', sklep.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sklep', sklep.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sklep', { outlets: { popup: sklep.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
