<div>
    <h2 id="page-heading">
        <span>Transakcjas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-transakcja" [routerLink]="['/transakcja/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Transakcja
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="transakcjas?.length === 0">
        <span>No transakcjas found</span>
    </div>
    <div class="table-responsive" *ngIf="transakcjas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Nettoo</span></th>
            <th scope="col" ><span>Brutton</span></th>
            <th scope="col" ><span>Vat</span></th>
            <th scope="col" ><span>Sklep</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transakcja of transakcjas ;trackBy: trackId">
                <td><a [routerLink]="['/transakcja', transakcja.id, 'view' ]">{{transakcja.id}}</a></td>
                <td>{{transakcja.nettoo}}</td>
                <td>{{transakcja.brutton}}</td>
                <td>{{transakcja.vat}}</td>
                <td>
                    <div *ngIf="transakcja.sklep">
                        <a [routerLink]="['/sklep', transakcja.sklep?.id, 'view' ]" >{{transakcja.sklep?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/transakcja', transakcja.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transakcja', transakcja.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/transakcja', { outlets: { popup: transakcja.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
