<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lokalizacja">
            <h2><span>Lokalizacja</span> {{lokalizacja.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Lat</span></dt>
                <dd>
                    <span>{{lokalizacja.lat}}</span>
                </dd>
                <dt><span>Lng</span></dt>
                <dd>
                    <span>{{lokalizacja.lng}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lokalizacja', lokalizacja.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
