<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-godziny-otwarcia-heading">Create or edit a Godziny Otwarcia</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_poniedzialek">Poniedzialek</label>
                    <input type="text" class="form-control" name="poniedzialek" id="field_poniedzialek"
                           formControlName="poniedzialek"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_wtorek">Wtorek</label>
                    <input type="text" class="form-control" name="wtorek" id="field_wtorek"
                           formControlName="wtorek"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sroda">Sroda</label>
                    <input type="text" class="form-control" name="sroda" id="field_sroda"
                           formControlName="sroda"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_czwartek">Czwartek</label>
                    <input type="text" class="form-control" name="czwartek" id="field_czwartek"
                           formControlName="czwartek"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_piatek">Piatek</label>
                    <input type="text" class="form-control" name="piatek" id="field_piatek"
                           formControlName="piatek"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sobota">Sobota</label>
                    <input type="text" class="form-control" name="sobota" id="field_sobota"
                           formControlName="sobota"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_niedziela">Niedziela</label>
                    <input type="text" class="form-control" name="niedziela" id="field_niedziela"
                           formControlName="niedziela"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
